
.hide {
    display: none;
}

.card-title {
    display: inline-block;
}

h1 {
    text-align: center;
    background-color: rgb(97, 97, 170);
    color: whitesmoke;
}
#icon {
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px yellow;
    border-radius: 10px;
}

#pastCities {
    display:flex;
    flex-direction: column;
    padding: 1rem;

}

#pastCities button { 
    margin: 5px ;
}

#forcast {
    display: flex;
    justify-content: space-between;
}
#current-title {
    display: flex;
}

button {
   margin: 25px 5px 5px 50px;
}



@media only screen and (max-width: 768px) {
    #forcast, .row {
        flex-direction: column;
    }

    #forcast .card {
        width: 100%;
    }
    #pastCities button {
        margin: 5px ;
        width: 175%;
    }
    
}

