
.hide {
    display: none;
}

.card-title {
    display: inline-block;
}
#icon {
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px yellow;
    border-radius: 10px;
}

#pastCities {
    display:flex;
    flex-direction: column;
    padding: 1rem;

}

#pastCities button {
    margin: 1rem;
}

#forcast {
    display: flex;
    justify-content: space-between;
}
#current-title {
    display: flex;
}


@media only screen and (max-width: 768px) {
    #forcast {
        flex-direction: column;
    }

    #forcast .card {
        width: 100%;
    }
    
}

