/* * {
    color: black;
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cityInput, #cityName, #inputContainer, button {
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#currentDay {
border: 1px solid black;
margin: 0 auto;
    height: 150px;
    width: 100%;
   
}

#weatherContainer {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}

#iconsContainer {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 1200px;

}

.icons {
    display: inline-block;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px yellow;
    border-radius: 10px;
}

.image {
    height: 150px;
    width: auto;
}

.imgClass {
    height: 150px;
    width: auto;
}

.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}




 */
